<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830069485033-4v0g2rpa1652gnbj73at5oecir18vp7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830069485033-4v0g2rpa1652gnbj73at5oecir18vp7e</string>
	<key>API_KEY</key>
	<string>AIzaSyCKnXTKtrZDHCAMHFmgEBSF_984dbWrzrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>830069485033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamilniemczyk.Chattie</string>
	<key>PROJECT_ID</key>
	<string>chattie-213a9</string>
	<key>STORAGE_BUCKET</key>
	<string>chattie-213a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830069485033:ios:ca5b0e55ee3d3a81bc2f78</string>
</dict>
</plist>